# single .env file for all projects
# please keep it sorted alphabetically

#Variables 
COLLATERAL_TOKEN_ADDRESS=0x217c835e751dd12e7f1824b7d8ee0fb159b6ee2b
LIQUIDATION_FEE=1000000
MAINTENANCE_MARGIN_PERCENT=5
MARGIN_PERCENT=10
MINIMUM_PRICE_INCREMENT=10000
NETWORK=localhost
ORDER_FEE=1000000
PERPS_ADDRESS=0x6b87e9c19e2c8a79e068358afa8b62b087548817
PERPS_START_BLOCK=240886281
PRICE_ORACLE_ADDRESS=0x6F736186d2c93913721e2570c283dff2a08575e9

#Secrets
DEPLOYER_PRIVATEKEY=
ETH_NODE_ADDRESS=https://arb-sepolia.g.alchemy.com/v2/
ETHERSCAN_API_KEY=